@{
    ViewBag.Title = "Non-existent account";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Account doesn't exists. Please @Html.ActionLink("click here to register", "Register", "Account").
    </p>
</div>
	
