@{
    ViewBag.Title = "Uncomfirmed email";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Account is uncomfirmed. Please check your email to comfirm account or @Html.ActionLink("click here to send confirmation email", "SendComfirmationEmail", "Account") again.
    </p>
</div>
	
